version: '3.1'
services:

  acquirer-backend:
    build:
      context: .
      dockerfile: Dockerfile-acquirer-backend
    command: ["npm", "run", "acquirer-backend:start"]
    ports:
      - "5555:5555"
    environment:
      - HOST=0.0.0.0
      - PORT=5555

      - DB_HOST=db
      - DB_PORT=3306
      - DB_USERNAME=root
      - DB_PASSWORD=password
      - DB_DATABASE=merchant_acquirer_db

      - S3_ENDPOINT=minio
      - S3_PORT=9000
      - S3_ACCESS_KEY=minioadmin
      - S3_SECRET_KEY=minioadmin
      - S3_MERCHANT_BUCKET_NAME=merchant-documents
    depends_on:
      - db
      - minio

  acquirer-frontend:
    build:
      context: .
      dockerfile: Dockerfile-acquirer-frontend
    environment:
      - VITE_HOST=0.0.0.0
      - VITE_PORT=5172
    ports:
      - "5172:5172"

  # TODO: To do this
  # registry-backend:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile-registry-backend

  db:
    image: mysql:8.0.33

    # NOTE: use of "mysql_native_password" is not recommended: https://dev.mysql.com/doc/refman/8.0/en/upgrading-from-previous-series.html#upgrade-caching-sha2-password
    # (this is just an example, not intended to be a production configuration)
    command: --default-authentication-plugin=mysql_native_password

    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_DATABASE=merchant_acquirer_db
    ports:
      - 6606:3306

  minio:
    image: minio/minio:RELEASE.2023-07-21T21-12-44Z
    volumes:
      - data:/data
    ports:
      - "9000:9000"
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    command: server /data

volumes:
  data:
