version: '3.1'
services:

  acquirer-backend:
    build:
      context: .
      dockerfile: Dockerfile-acquirer-backend
    command: ["npm", "run", "acquirer-backend:start"]
    ports:
      - "5555:5555"
    environment:
      - APP_URL=http://0.0.0.0:5555
      - HOST=0.0.0.0
      - PORT=5555

      - DB_HOST=acquirer-db
      - DB_PORT=3306
      - DB_USERNAME=root
      - DB_PASSWORD=password
      - DB_DATABASE=merchant_acquirer_db

      - S3_ENDPOINT=minio
      - S3_PORT=9000
      - S3_ACCESS_KEY=minioadmin
      - S3_SECRET_KEY=minioadmin
      - S3_MERCHANT_BUCKET_NAME=merchant-documents

      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_PORT=5672
      - RABBITMQ_USERNAME=guest # TODO: change this in production
      - RABBITMQ_PASSWORD=guest # TODO: change this in production
      - RABBITMQ_QUEUE=acquirer_to_registry
      - RABBITMQ_REPLY_QUEUE=registry_reply_acquirer
    depends_on:
      - acquirer-db
      - minio
      - rabbitmq

  acquirer-frontend:
    build:
      context: .
      dockerfile: Dockerfile-acquirer-frontend
    environment:
      - VITE_HOST=0.0.0.0
      - VITE_PORT=5173
      - VITE_API_URL=http://0.0.0.0:5555/api/v1
    ports:
      - "5173:5173"

  registry-oracle:
    build:
      context: .
      dockerfile: Dockerfile-registry-oracle
    ports:
      - 6666:6666
    environment:
      - APP_URL=http://0.0.0.0:6666
      - HOST=0.0.0.0
      - PORT=6666

      - DB_HOST=oracle-db
      - DB_PORT=3306
      - DB_USERNAME=root
      - DB_PASSWORD=password
      - DB_DATABASE=registry-oracle

      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_PORT=5672
      - RABBITMQ_USERNAME=guest # TODO: change this in production
      - RABBITMQ_PASSWORD=guest # TODO: change this in production
      - RABBITMQ_QUEUE=acquirer_to_registry
      - RABBITMQ_REPLY_QUEUE=registry_reply_acquirer

    depends_on:
      - oracle-db
      - rabbitmq


  rabbitmq:
    image: rabbitmq:3.12.4-management-alpine
    ports:
      - 5673:5672 
      - 15673:15672
    environment:
      - RABBITMQ_DEFAULT_USER=guest # TODO: change this in production
      - RABBITMQ_DEFAULT_PASS=guest # TODO: change this in production

  acquirer-db:
    image: mysql:8.0.33

    # NOTE: use of "mysql_native_password" is not recommended: https://dev.mysql.com/doc/refman/8.0/en/upgrading-from-previous-series.html#upgrade-caching-sha2-password
    # (this is just an example, not intended to be a production configuration)
    command: --default-authentication-plugin=mysql_native_password

    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_DATABASE=merchant_acquirer_db
    ports:
      - 8808:3306

  oracle-db:
    image: mysql:8.0.33
    # NOTE: use of "mysql_native_password" is not recommended: https://dev.mysql.com/doc/refman/8.0/en/upgrading-from-previous-series.html#upgrade-caching-sha2-password
    # (this is just an example, not intended to be a production configuration)
    command: --default-authentication-plugin=mysql_native_password

    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_DATABASE=registry-oracle
    ports:
      - 7707:3306

  minio:
    image: minio/minio:RELEASE.2023-07-21T21-12-44Z
    volumes:
      - data:/data
    ports:
      - "9000:9000"
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    command: server /data

volumes:
  data:
