# Default values for acquirer-frontend.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

acquirerFrontend:
  replicaCount: 1
  image:
    repository: mojaloop/merchant-acquirer-frontend
    tag: 0.0.3l
  service:
    type: ClusterIP
    port: 5173
  env:
    apiURL: "http://www.acquirer-merchant.local/api/v1"
    recaptchaFrontendSiteKey: "6LcEfT4pAAAAAAONtUPIQYSoYvNSbvKiexaZLo4R"
